* {
    line-height: 1.5;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: justify;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 2em;
    margin-top: 2em;
}

h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 0.5em;
}

.project {
    border: 1px solid #ddd;
    padding: 1em;
    margin-bottom: 1em;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
